// User location selection //

.user-preferences .location-selector-container {
  max-width: 552px;

  .ac-wrap {
    width: 100% !important;
  }

  .d-multi-select-trigger__selection {
    min-width: 0;
  }

  .d-multi-select-trigger__selected-item {
    width: 100%;
    min-width: 0; /* allow shrinking inside flex */
  }

  .d-multi-select-trigger__selection-label {
    flex: 1 1 auto; /* take remaining space */
    min-width: 0; /* allow shrinking inside flex */
    max-width: 100%; /* (optional) cap to container */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; /* makes width behavior predictable */
  }
}

.user-location-warning {
  margin-top: 5px;
}

@media (max-width: 850px) {
  .user-preferences .location-selector-container {
    max-width: 472px;
  }
}

// User map //

.users-nav {
  margin: 20px 0;

  ul {
    margin: 0;
  }
}

.users-map-container {
  margin-bottom: 60px;
}

.users-map-container .map-component {
  width: 100%;
  height: calc(100vh - 270px);
  margin-top: 5px;
}

.user-profile__featured-topic,
.user-profile__location-and-website {
  font-size: var(--font-0);
  white-space: normal;
}

.user-location-widget {
  border: 1px solid var(--primary-low);
  display: flex;
  width: 100%;

  .location-label {
    margin: 0 5px 0 5px;
    color: var(--primary);
    text-align: left;
  }

  .location-flag img {
    height: 30px;
    width: auto;
  }

  .d-icon-location-dot {
    margin-top: 4px;
    margin-right: 5px;
  }

  .map-wrapper {
    position: relative;
  }

  .map-container.small {
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  }
}

#topic {
  .row .location-summary {
    display: flex;
    flex-direction: row;
    .user-location {
      padding: 0 11px 0.25em 11px;
    }
    .location-flag {
      padding: 0 11px 0.25em 0;
    }
    img {
      width: 24px;
      height: auto;
    }
  }
}
